<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local-artifacts" value="../artifacts" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="local-artifacts">
      <package pattern="ConstructorCustomization.AutoFixture" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
